@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* img{
  width: 100%;
  height: 100%;
} */

/* share style */

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .btn{
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
  }
  .btn:hover{
    background-color: #5c5b5b;
    color: #ffffff;
  }
  .container{
    max-width: 1140px;
    margin: 0 auto;
  }
  .section-content .contact-content{
    max-width: 850px;
    margin: 0 auto;
  }
  .section-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
  }
.section-description{
    font-size: 20px;
    font-weight: 400;
    color: #0D1321;
    text-align: center;
    margin-bottom: 48px;
    opacity: 70%;
}


  /* Header style */

  nav{
    max-width: 1140px;
    background-color: #ffffff;
    margin: 38px auto 30px;
  }

  nav ul{
    /* border:  1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items:baseline;
  }
  nav ul li{
    list-style: none;
  }

  nav ul li a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
  }

  nav ul li a span {
    color: #ff6f3c;
  }

  /* Bannar style */
  .bannar{
    max-height: 650px;
    background-image:linear-gradient(180deg, rgba(35, 49, 66,0.3),rgba(236, 236, 236,0.6)), url(../assets/Hero-bg.png);
    background-repeat:no-repeat;
    background-position: top left, bottom right;
    background-position: center;
  }
  .bannar-content{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
  .bannar-content img{
    width: 240px;
    height: 240px;
    margin:26px auto 0;
  }
  .bannar-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
  }
  .bannar-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    padding: 0 100px;
    opacity: 70%;
  }
  .contact-btn{
    background-color: black; 
    color: #ffffff; 
    margin-bottom: 44px;
  }
  .contact-btn:hover{
    background-color: transparent;
    color: #0D1321;
  }

  /* Devolopment style */
  .devolopment{
    /* max-width: 950px; */
    background-color: rgba(13,19,33,0.2) ;
    margin: 74px auto 88px;
    padding: 80px 97px;
    border-radius: 8px;
  }
  .devolopment-content{
    max-width: 950px;
  }
  .dev-items{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .dev-item{
    background-image: linear-gradient(90deg, rgba(255,255,255,100),rgba(255,255,255,0));
    border-radius: 10px;
    padding:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dev-item2{
    background-image: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,100));
    justify-content: flex-start;
    gap: 32px;
}
  .dev-item .item-content{
    max-width: 450px;
  }
  .dev-item .item-title{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321;
    margin-bottom: 16px;
  }
  .dev-item .item-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin-bottom: 32px;
    opacity: 70%;
  }
  .item-btn{
    background-color: transparent;
    border: 1px solid #0D1321;
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
  }
  .item-btn:hover{
    border-color: transparent;
    color: #ff6f3c;
  }

  /* My inspiration style */
  .inspiration{
    margin: 0 auto;
  }
  .inspiration-items{
    border:1px solid #0D1321;
    padding: 32px;
    border-radius: 10px;
  }
  .inspiration-items iframe{
    outline: none;
    border-radius: 10px;
    border: none;
  }

  /* My Current Target */
  .target{
    margin: 150px auto 110px;
  }
  .target-content{
    display: flex;
    justify-content: space-between;
  }
  .target-items{
    max-width: 365px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow:0.3px 0.5px 3px #5c5b5b;
    padding: 40px;
    transition: all 0.6s ease-in-out;
  }
  .target-items:hover{
    box-shadow: none;
  }

  .first-color { 
	background: rgba(255, 76, 30,0.5); 
}

.second-color { 
	background: rgba(0, 76, 232,0.5); 
}

.third-color { 
    background: rgba(255, 223, 0,0.5); 
}
  .target-items img{
    max-width: 56px;
    max-height: 56px;
  }
  .target-items .target-title{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
  }
  .title-margin{
    margin-bottom: -16px;
  }
  .target-items .target-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 70%;
  }
  .target-items a{
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
    transition: all 0.5s ease-in-out;
  }
  .target-items a:hover{
    color: #ffffff;
    text-decoration: none;
  }
  /* my next target */
  
  .next-target .next-target-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .next-target .next-target-content .next-target-items{
    padding: 40px;
    border: 1px solid #0D1321;
    border-radius: 16px;
    display: flex;
    gap: 24px;
  }
  .next-target .next-target-content .next-target-items img{
    width: 100px;
    height: auto;
    padding: 16px 0;
  }
  .next-target .next-target-content .next-target-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .next-target .next-target-item .next-target-title{
    font-size: 24px;
    font-weight:800;
    color: #0D1321;
  }
  .next-target .next-target-item .next-target-description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 70%;
  }
  .next-target .next-target-item a{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    transition: all 0.7s ease-in-out;
  }
  .next-target .next-target-item a:hover{
    text-decoration: none;
    color: #ff6f3c;
  }
/*  contact style */
.contact{
  background-image:linear-gradient(0deg, rgba(35, 49, 66,0.2),rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
  background-repeat:no-repeat;
  background-position:center,center;
  background-size:cover;
  margin: 40px 0 80px;
  padding: 64px 48px;
  border-radius: 10px;
}
.contact .contact-content{
  max-width: 850px;
  margin: 0 auto;
}

.contact .contact-title{
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}
.contact .contact-description{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 48px;
  opacity: 70%;
}
.contact .contact-form{
  display: flex;
  justify-content: center;
}
.contact .contact-form input[type=text]{
  /* display: inline-block; */
  width: 550px;
  padding:17px 20px;
  border-radius: 8px;
}
.contact .contact-form input[type=text]:focus{
  outline:none;
}
.contact ::placeholder{
  font-size: 16px;
  font-weight: 400;
  color: rgba(13, 19, 33,0.4);
}
.contact .contact-form input[type=submit]{
  padding: 17px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #0D1321;
  margin-left: 10px;
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.contact .contact-form input[type=submit]:hover{
  background-color: transparent;
  color: #ffffff;
}

  /* Footer style */
  footer{
    padding: 38px 0;
    background-color: rgba(13, 19, 33,0.3);
    position: relative;
  }
  footer .footer-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer-content h2{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
  }
  footer .footer-content h2 span{
    color: #ff6f3c;
  }
  footer .footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  footer .footer-items img{
    transition: all 0.7s ease-in-out;
  }
  footer .footer-items img:hover{
    transform: scale(1.2);
    /* box-shadow: 0.3px 0.5px 2px #ffffff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100%;
  }
  footer .go-top{
    position: fixed;
    bottom: 30px;
    right: 30px;

  }